footer {
  margin-top: 15px;
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.keyboard div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
  background-color: #d3d6da;
  margin-right: 5px;
  border-radius: 5px;
}

#enter {
  width: 80px;
  height: 60px;
  font-size: 15px;
}

.backspace {
  width: 80px;
  height: 60px;
  font-size: 15px;
}

.backspace img {
  width: 30px;
  height: 30px;
}
